   
    html {
    scroll-behavior: smooth;
    }
    
    body {
    width: 100vw;
    height: 100vw;
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif
    }

    .container {
    width: 100vw;
    height: 1500px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
      }
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 1500px;
            scroll-snap-align: start;
        }
    
    .topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    }

   /*Top nav Scroll*/

    .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .topnav a.active {
    background-color: #e82127;
    color: white;
    }
    /* Navbar End */
    
    /* Header Start */
    .Home{ 
    margin-right: 50px;
    } 
  
    /* Header End */
    
    /* Projects Start */
    .Projects {
    background-color: #fff;
    align-content:flex-start;
    }

    .Projects > h1 {
    font-size: 30px;
    text-align: center;
    padding: 30px;
    }
    
    .col {
    width: 300px;
    text-align: center;
    margin-left: 20px;
    border-right: solid #bebebe 1px;
    padding-bottom: 30px;
    float: left;
    }
    
    .col:last-child {
    border-right: none;
    }
    
    .col > h3 {
    /* top-bottom right-left */
    padding: 10px 0px;
    color: grey;
    }
    
    .col > p {
    padding-bottom: 20px;
    }
    
    .col > a {
    background-color: #e82127;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: solid white 2px;
    padding: 5px 10px;
    border-radius: 20px;
    }
    
    .col > a:hover {
    background-color: #111111;
    border: solid #111111 2px;
    }
    .Projects::after {
    content: " ";
    display: block;
    clear: both;
    *zoom: 1;
    }
    /* Projekte End */
    
    /* about Start */

    .about {
    background-color: #e82127;
    min-height: 300px;
    text-align: center;
    padding: 20px;
    color: #fff;
    }
    
    .about > h1 {
    font-size: 30px;
    padding-bottom: 20px;
    }
    
    .about > img {
    border: solid 2px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    }
    
    .about > p {
    font-size: 18px;
    margin: 10px 200px;
    padding-bottom: 10px;
    line-height: 25px;
    }
    
    .about > a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: solid white 1px;
    padding: 5px 20px;
    }
    
    .about > a:hover {
    background-color: #111111;
    border: solid #111111 1px;
    }
    /* about End */

     /*Contact Start */
    .contact{
        padding: 30px 0px;
    }
    .contact-info{ 
        margin-right: 100px;
    }
    
    .contact-row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-left-col{
        flex-basis: 50%;
        padding-top: 50px;
    }
    .contact-right-col{
        flex-basis: 50%;
        max-width: 450px;
        margin-left: 300px;
    }
    .contact-right-col i{
        font-size: 20px;
        padding: 10px;
        background:#e82127;
        color: white;
    }
    .contact-right-col p{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .form{
    
        width: 120%;
        margin:auto;
        text-align: center;
    }
    .form input[type="text"]{
        width: 120%;
        padding: 10px;
        margin-bottom: 10px;
    }
    textarea{
        width: 120%;
        padding: 10px;
        margin-bottom: 10px;
    }
    
     .c_btn{
        margin-left: 110px;
        background: black;
        color: white;
        padding: 10px;
        width: 50%;
        border:none;
    }

    /*Contact End */
    
    /* Footer Start */
    footer {
    background-color: #e82127;
    text-align: center;
    padding: 10px;
    }
    
    footer > small {
    color: #fff;
    }
    
    footer > small > a {
    color: #fff;
    text-decoration: none;
    }
    /* Footer End */